---
layout: default
title: dannas
---

{% for post in paginator.posts %}
	<h2 class="title"><a href="{{ post.url }}" class="title-link">{{ post.title }}</a></h2>
	<h3 class="date">{{ post.date | date_to_string }}</h3>

    {{ post.content }}

{% endfor %}
	
{% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
        <a href="/">&laquo; Read newer entries</a>
    {% else %}
        <a href="/page{{ paginator.previous_page }}">&laquo; Read newer entries</a>
    {% endif %}
{% endif %}
{% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}">Read older entries &raquo;</a>
{% endif %}

