@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font:17px/25px Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:400;
  color: black
}

div.wrapper {
  max-width:880px;
  margin: 48px auto; 
  padding: 0 40px;
}

header {
  float:left;
}

section {
  clear: both;
  padding-bottom:50px;
  margin: 0 30px; 
  line-height: 1.6;
}

div.navigation {
    float: right
}

footer {
  float:left;
}

header, div.navigation  { 
    height: 25px; 
    margin-bottom: 42px; 
}
