@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font:17px/25px Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black
}

body {
  max-width:880px;
  margin: 48px auto; 
  padding: 0 40px;
}

header {
  float:left;
}

section {
  clear: both;
  padding-bottom:50px;
  margin: 0 30px; 
  line-height: 1.6;
}

div.navigation {
  float: right
}

footer {
  float:left;
}

header, div.navigation  { 
  height: 25px; 
  margin-bottom: 42px; 
}

pre, code {
  font-family: 'Inconsolata', monospace;
}

pre {
  margin-bottom: 13px;
  margin-left: 4em;
  margin-right: 4em;
  padding: 5px;
}

code {
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
