---
layout: nil
---

<!DOCTYPE html>
<html>
    <head> 
        <meta charset="utf-8">
        <title>dannas.name</title> 
        <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" /> 
        <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed/index.html" /> 
        <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'   >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head> 
    <body>
        <div class="wrapper">
            <header>
                <a href="/index.html">Daniel Näslund</a>'s thoughts and writings
            </header>
            <div class="navigation">
                <ul>
                    <li><a href="/index.html">blog</a></li>
                    <li><a href="/archive.html">archive</a></li>
                    <li><a href="/about.html">about (hiring) me</a></li>
                </ul>
            </div>

            <section>
                {{ content }}
            </section>
            <footer>
            </footer>
        </div> <!-- wrapper -->
    </body>
</html>
