---
layout: nil
---

<!DOCTYPE html>
<html lang="en">
    <head> 
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107074453-1"></script>
{% if page.use_math %}
        <!-- mathjax config similar to math.stackexchange -->
        <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          jax: ["input/TeX", "output/HTML-CSS"],
          showMathMenu: false,
          tex2jax: {
            inlineMath: [ ['$', '$'] ],
            displayMath: [ ['$$', '$$']],
            processEscapes: true,
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
          },
          messageStyle: "none",
          "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }
        });
        </script>
        <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{% endif %}

        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments)};
          gtag('js', new Date());

          gtag('config', 'UA-107074453-1');
        </script>

        <meta charset="utf-8">
        <title>Daniel Näslund</title> 
        <link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" /> 
        <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed/index.html" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head> 
    <body>
        <div class="wrapper">
            <header>
                <a href="/index.html">Daniel Näslund</a>'s thoughts and writings
            </header>
            <div class="navigation">
                <ul>
                    <li><a href="/TIL.html">Today I learned</a></li>
                    <li><a href="/archive.html">archive</a></li>
                    <li><a href="/about.html">about me</a></li>
                </ul>
            </div>

            <article>
                {{ content }}
            </article>
            <footer>
            </footer>
        </div> <!-- wrapper -->
    </body>
</html>
